<h1>Hello World</h1>
<!-- <app-rooms></app-rooms> -->

<app-container>
  <app-rooms></app-rooms>
  <app-employee></app-employee>
  <h1>This is from ng-content</h1>
</app-container>
<!-- <div [ngSwitch]="role">
  <p *ngSwitchCase="'user'">Welcome User</p>
  <div *ngSwitchCase="'admin'">
    <app-rooms></app-rooms>
  </div>
  <span *ngSwitchDefault>You are not authorized to view this page</span>
</div> -->

<!-- <app-rooms></app-rooms> -->
<!-- <div>
  <ng-template #user>
  </ng-template>
</div> -->
